<div
  class="cube"
  [style]="{
    '--rotate-x': rotation.axisX,
    '--rotate-y': rotation.axisY,
    '--rotate-z': rotation.axisZ,
    '--rotate-a': rotation.angle
  }"
>
  <div
    *ngFor="let cubicle of cubicles"
    [class]="cubicle.classList"
    (animationend)="animations.next(cubicle.layers)"
  >
    <div
      class="cubie"
      [style]="{
        '--x': cubicle.coordX,
        '--y': cubicle.coordY,
        '--z': cubicle.coordZ
      }"
    >
      <div
        *ngFor="let j of times(6)"
        class="cubie__face cubie__face--{{ faces[cubicle.index + j] }}"
        [style.--color]="
          'var(--color-' + faces[permutation.pull(cubicle.index + j)] + ')'
        "
      ></div>
    </div>
  </div>
</div>
