$cubeSize: 50vmin;
$cubieSize: calc($cubeSize / 3);

$faces: ("back" #0246ad (rotateY(180deg) translateZ(calc($cubieSize / 2)))),
    ("down" #ffd500 (rotateX(-90deg) translateZ(calc($cubieSize / 2)))),
    ("front" #009b48 (translateZ(calc($cubieSize / 2)))),
    ("left" #ff5800 (rotateY(-90deg) translateZ(calc($cubieSize / 2)))),
    ("right" #b71234 (rotateY(90deg) translateZ(calc($cubieSize / 2)))),
    ("up" #ffffff (rotateX(90deg) translateZ(calc($cubieSize / 2)))), (null #000000 null);

@each $axis in X, Y, Z {
    @keyframes rotate#{$axis} {
        0% {
            transform: rotate(0);
        }
        100% {
            transform: rotate#{$axis }(calc(var(--twist-order, 0) * 90deg));
        }
    }
}

:host {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}

.cube {
    height: $cubeSize;
    margin: calc($cubeSize * (sqrt(3) - 1) / 2);
    transform-style: preserve-3d;
    width: $cubeSize;
}

.cubicle {
    height: 100%;
    pointer-events: none;
    position: absolute;
    transform-style: preserve-3d;
    width: 100%;

    :host([twist-axis]) & {
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
    }

    :host([twist-axis="x"]) & {
        animation-name: rotateX;
    }

    :host([twist-axis="y"]) & {
        animation-name: rotateY;
    }

    :host([twist-axis="z"]) & {
        animation-name: rotateZ;
    }
}

.cubie {
    height: $cubieSize;
    transform-style: preserve-3d;
    transform: translate3d(calc(var(--tx) * $cubieSize), calc(var(--ty) * $cubieSize), calc((var(--tz)) * $cubieSize))
        translateZ(-$cubieSize);
    width: $cubieSize;

    &__face {
        backface-visibility: hidden;
        background-color: black;
        border-radius: calc($cubieSize / 10);
        position: absolute;

        @each $face in $faces {
            &--#{calc(index($faces, $face) - 1)} {
                transform: #{nth($face, 3)};
            }
        }
    }

    &__sticker {
        @each $face in $faces {
            &--#{calc(index($faces, $face) - 1)} > rect {
                fill: #{nth($face, 2)};
            }
        }
    }
}
