<div
  class="cube animated animated-front"
  [style]="{
    '--rotate-x': rotateX,
    '--rotate-y': rotateY,
    '--rotate-z': rotateZ,
    '--rotate-a': rotateA
  }"
  (mousedown)="onMouseDown($event)"
  (mouseleave)="onMouseLeave($event)"
  (mousemove)="onMouseUp($event)"
  (mouseup)="onMouseUp($event)"
>
  <div
    class="cubicle {{ cubicle.faces.join(' ') }}"
    *ngFor="let cubicle of cubicles"
  >
    <div
      class="cubie"
      [style]="{ '--x': cubicle.x, '--y': cubicle.y, '--z': cubicle.z }"
    >
      <div class="cubie-face cubie-face--back"></div>
      <div class="cubie-face cubie-face--down"></div>
      <div class="cubie-face cubie-face--front"></div>
      <div class="cubie-face cubie-face--left"></div>
      <div class="cubie-face cubie-face--right"></div>
      <div class="cubie-face cubie-face--up"></div>
    </div>
  </div>
</div>
