<div
  class="cube"
  [style]="{
    '--rotate-x': rotation.axis.x,
    '--rotate-y': rotation.axis.y,
    '--rotate-z': rotation.axis.z,
    '--rotate-a': rotation.angle
  }"
>
  <div
    *ngFor="let cubicle of cubicles"
    class="cubicle"
    [attr.slices]="cubicle.slices"
    [style]="{ '--sign': cubicle.sign(move) }"
    (animationend)="animations.next(move!.id)"
  >
    <div
      class="cubie"
      [style]="{
        '--tx': cubicle.vector.x,
        '--ty': cubicle.vector.y,
        '--tz': cubicle.vector.z
      }"
    >
      <svg
        *ngFor="let j of times(6)"
        class="cubie__face cubie__face--{{ faces[cubicle.index + j] }}"
        viewBox="0 0 1 1"
      >
        <rect
          *ngIf="0.1 as margin"
          [attr.fill]="
            'var(--color-' + faces[permutation.pull(cubicle.index + j)] + ')'
          "
          [attr.height]="1 - 2 * margin"
          [attr.rx]="0.1"
          [attr.ry]="0.1"
          [attr.width]="1 - 2 * margin"
          [attr.x]="margin"
          [attr.y]="margin"
        ></rect>
      </svg>
    </div>
  </div>
</div>
